{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">
        <h3 class="h3">Shoplo Test  DEV</h3>
        <div class="row">

            {% for item in items %}
            <div class="col-md-3 col-sm-6">
                <div class="product-grid3">
                    <div class="product-image3">
                        <a href="#">
                            <img class="pic-1" src="{{ asset(render_image(item.image, item.id)) }}">

                            {% for gallery in item.productImages %}
                                <img class="pic-2" src="{{ asset(render_image(gallery.path, item.id)) }}">
                            {% endfor %}

                            {% if item.productImages is empty %}
                                <img class="pic-2" src="{{ asset(render_image(item.image, item.id)) }}">
                            {% endif %}
                        </a>
                        <ul class="social">
                            <li><a class="add--cart" data-product-id="{{ item.id }}"><i href="#add" class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">{{ item.name }}</a></h3>
                        <div class="price">
                            {% if item.promoPrice %}
                                {{ item.promoPrice | price(2) }}
                            {% else %}
                                {{ item.price | price(2) }}
                            {% endif %}

                            {% if item.promoPrice %}
                                <span>{{ item.price | price(2) }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

        <div class="row align-items-center justify-content-center">
            {% include 'components/pagination.html.twig' with { 'pagination': pagination } %}
        </div>
    </div>

{% endblock %}
